---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import anime from "animejs/lib/anime.es.js";
import { Icon } from "astro-icon";
import { Sprite } from "astro-icon";

import { formatBlogPosts } from "../js/utils";

// const allPosts = await Astro.glob("./*.md");
// const formattedPosts = formatBlogPosts(allPosts, {
//   limit: 3,
// });
---

<MainLayout title="My Blog">
  <div id="container">
    <div
      class="bound top-1/2 left-1/2 text-center sm:text-3xl md:text-4xl lg:text-5xl"
    >
      <span cl>J</span>
      <span cl>N</span>
      <span cl>I</span>
      <span cl>C</span>
      <span cl>H</span>
      <span cl>I</span>
      <span cl>&ensp;</span>
      <span cl>M</span>
      <span cl>A</span>
      <span cl>C</span>
      <span cl>H</span>
      <span cl>I</span>
      <span cl>I</span>
    </div>
  </div>
</MainLayout>

<style>

</style>


